.header {
  &__wrapper {
    position: absolute;
    width: 100%;
    left: 0;
  }
  &--light {
    --bg: #fff;
    --color: hsl(var(--primary-400));
  }
  &--dark {
    --bg: hsl(var(--primary-400));
    --color: #fff;
  }
  display: flex;
  background-color: var(--bg);
  color: var(--color);
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--fs-md);
  font-family: var(--Sans-font);
  font-weight: bold;
}

.navBar {
  width: 35em;
  text-transform: uppercase;
}
