.pagination {
  &__field {
    display: flex;
    width: max-content;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    padding: 0.6125em;
  }
  &__button {
    display: grid;
    place-items: center;
    color: hsl(var(--primary-400));
    font-family: "Petit Formal Script", cursive;
    font-size: var(--fs-md);
    width: 4rem;
    height: 4rem;
    border: 1px solid hsl(var(--primary-100));
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: hsl(var(--primary-100));
    }
    &--active {
      background-color: hsl(var(--primary-100));
    }
  }
}
