.tabs {
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tab {
  display: inline-block;
  position: relative;
  font-family: var(--Sans-font);
  font-size: var(--fs-xs);
  font-weight: 400;
  width: max-content;
  text-align: center;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0.1em;
    background-color: var(--color);
    transition: width 200ms ease-in, left 200ms ease-in;
  }
  &--active {
    font-weight: bold;
    color: var(--color);

    &::after {
      width: 100%;
      left: 0;
    }
  }
}
