.card {
  &__wrapper {
    width: min(43em, 100%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(21em, 100%), 1fr));
    box-shadow: 0px 4px 20px 2px hsl(var(--primary-400) / 0.1);
  }
  &__image {
    &__field {
      position: relative;
      padding-top: 100%;
    }
    object-fit: cover;
  }
  &__content {
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    & > p {
      flex: 1;
    }
  }
}
