.card {
  &__wrapper {
    width: min(43em, 100%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(21em, 100%), 1fr));
    box-shadow: 0px 4px 20px 2px hsl(var(--primary-400) / 0.1);
  }
  &__image {
    &__field {
      position: relative;
      padding-top: 100%;
    }
    object-fit: cover;
  }
  &__content {
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    & > p {
      flex: 1;
    }
  }
  &__modal {
    &__container {
      display: flex;
      flex-direction: column;
      padding: 2em;
      row-gap: 2em;
    }
    &__header {
      padding: 1em 2em;
    }
    &__githubIcon {
      width: max-content;
      transform-origin: center center;
      transition: 200ms transform ease-in;
      path {
        fill: #4a4a4a;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
