@mixin colors {
  --primary-400: 242 28% 21%;
  --primary-300: 202 52% 36%;
  --primary-200: 180 50% 82%;
  --primary-100: 177 51% 93%;
  // secondary colors
  --secondary-400: 25 63% 29%;
  --secondary-300: 25 63% 46%;
  --secondary-200: 25 25% 63%;
  --secondary-100: 25 63% 71%;
}
