.hero__section {
  &__container {
    display: flex;
    align-items: center;
    padding: 2.5em 0;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 4em;
    column-gap: 2em;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 34em;
    row-gap: 1em;
  }
  &__hero__illustration {
    width: max-content;
    max-width: 100%;
    svg {
      width: 100%;
    }
  }
}
