.title1 {
  font-family: var(--Oldenburg-font);
  color: hsl(var(--primary-400));
  font-size: var(--fs-xl);
}
.title2 {
  font-family: var(--Oldenburg-font);
  color: hsl(var(--primary-400));
  font-size: var(--fs-lg);
}
.title3 {
  font-family: var(--Sans-font);
  color: hsl(var(--primary-400));
  font-size: var(--fs-md);
}
.title4 {
  font-family: var(--Sans-font);
  color: hsl(var(--primary-400));
  font-size: var(--fs-sm);
  text-transform: capitalize;
}

.paragraph {
  font-size: var(--fs-xs);
  line-height: 30px;
  text-align: justify;
  color: hsl(var(--primary-400));
  letter-spacing: 0.1em;
  font-family: "Pavanam", sans-serif;
}
