@use "../../styles/mixins/" as *;

.footer {
  &__wrapper {
    width: 100vw;
    background-color: hsl(var(--primary-400));
    scroll-snap-align: start;
  }
  &__container {
    width: 100%;
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    gap: 2em;
  }
  &__text {
    flex: 1;
    text-align: right;
    padding: 0 1em;
    color: #fff;
    font-size: 2em;
  }
}
