@use "../../styles/mixins" as *;
.email_icon {
  &_wrapper {
    position: fixed;
    bottom: 2em;
    left: 2em;
    z-index: 1;
    background-color: hsl(var(--primary-400) / 0.9);
    padding: 0.75em;
    display: grid;
    place-items: center;
    border-radius: 0.2em;
    cursor: pointer;
    border: 0.1em solid rgba(255, 255, 255, 0.25);
    animation: appear 1000ms ease-in-out;
    transition: background-color 100ms ease-in-out;
    & > svg {
      width: 40px;
      height: 30px;

      path {
        stroke: #fff;
      }
    }
    &:hover {
      background-color: hsl(var(--primary-400) / 1);
    }
  }
  &_svg {
    animation: bounce 3s infinite;
    /* Adjust animation properties as needed */
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-iteration-count: infinite;
  }
}

.contact {
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 4em;
    padding: 2em;
  }
  &__header {
    text-align: center;
    color: hsl(var(--primary-400) / 0.9);
  }
  &__content {
    flex: 1;
    // give it a smaler width and make it take full when screen is medium or less
    width: 90%;
    @include breakpoint(medium) {
      width: 100%;
    }
  }
  &__inputs {
    display: flex;
    column-gap: 1em;
    @include breakpoint(medium) {
      flex-direction: column;
    }
  }
  &__contactField {
    --opacity: 0;
    position: relative;
    border: 0.1em solid hsl(var(--primary-400) / 0.4);
    border-radius: 0.2em;
    padding: 0.5em;
    cursor: pointer;
    & svg {
      fill: white;
      width: 2.5em;
      height: fit-content;
      object-fit: contain;
      @include breakpoint(medium) {
        width: 2em;
      }
    }
    &__link {
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      opacity: var(--opacity);
      background-color: hsl(var(--primary-400) / 0.9);
      transition: opacity 100ms ease-in-out;
    }
    &:hover {
      background-origin: red;
      animation: glow 1000ms ease-in-out infinite forwards;
      --opacity: 1;
    }
  }
  &__submit {
    display: flex;
    justify-content: center;
  }
  &__footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    @include breakpoint(medium) {
      width: 100%;
    }
    &__socials {
      display: flex;
      column-gap: 1em;
    }
    &__or {
      width: 100%;
      position: relative;
      text-align: center;
      isolation: isolate;
      & > span {
        font-weight: bold;
        padding: 0.4em 1em;
        background-color: white;
        font-size: var(--fs-xs);
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: hsl(var(--primary-400) / 0.4);
        z-index: -1;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 hsl(var(--primary-400) / 0.8);
  }
  70% {
    box-shadow: 0 0 0 0.5em hsl(var(--primary-400) / 0);
  }
  100% {
    box-shadow: 0 0 0 0 hsl(var(--primary-400) / 0);
  }
}
