@use "../../../styles/mixins/" as *;

.container {
  width: 82em;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  --container-color: hsl(var(--primary-400));
  &--dark {
    --container-color: #fff;
  }
  @include breakpoint(medium) {
    padding: 0 1em;
  }
}
