.button {
  --opacity: 1;
  outline: none;
  border: none;
  font-family: var(--button-font);
  font-size: var(--fs-xs);
  font-weight: bold;
  padding: 0.5em 1em;
  cursor: pointer;
  text-transform: uppercase;
  &--primary {
    --color: var(--primary-400);
  }
  &--secondary {
    --color: var(--secondary-400);
  }
  &--field {
    color: #fff;
    background-color: hsl(var(--color) / var(--opacity));
  }
  &--outlined {
    color: var(--primary-300);
    background-color: hsl(var(--color) / calc(1 - var(--opacity)));
    border: 0.1em solid hsl(var(--color) / var(--opacity));
  }
  &--large {
    font-size: var(--fs-sm);
  }
  &:hover {
    --opacity: 0.8;
  }
  &:disabled {
    --opacity: 0.85;
    cursor: not-allowed;
  }
}
