.wrapper {
  scroll-snap-align: start;
  outline: 1px solid #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  &--dark {
    background-color: hsl(var(--primary-400));
  }
}
