.wrapper {
  // scroll-snap-align: start;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--page-bg-override, hsl(var(--primary-100)));
  transition: background-color 0.35s ease;

  &--dark {
    background-color: var(--page-bg-override, hsl(var(--primary-400)));
  }
}