.wrapper {
  // scroll-snap-align: start;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: transparent;

  &--dark {
    background: transparent;
  }

  &--projects {
    background: transparent;
  }
}
