@use "../../../styles/mixins" as *;

.contact {
  &__container {
    position: relative;
    width: min(60em, 100%);
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px 4px hsl(var(--primary-400) / 0.1);
    overflow: hidden;
  }
  &__form {
    &__container {
      position: relative;
      width: 100%;
      flex: 1;
      padding: 1em 2em;
      @include breakpoint(small){
        padding: 0;
      }
    }
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    & > div {
      width: 100%;
    }
  }
  &__name__field {
    display: flex;
    column-gap: 1em;
    width: 100%;
    & > div {
      flex: 1;
    }
    input {
      max-width: 100%;
    }
    @include breakpoint(medium) {
      flex-wrap: wrap;
    }
  }
  &__meesage__svg__field {
    flex: 1;
    display: grid;
    place-items: center;
    background-color: hsl(var(--primary-400));
  }
  &__message {
    position: absolute;
    inset: 0;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    h3 {
      margin-top: 4em;
      text-align: center;
    }
    &__button__field {
      text-align: center;
    }
  }
}
